<blog-post>

	<front-matter>
		<post-title>Example Blog Post</post-title>
		<date-started>March 30, 2021</date-started>
		<date-published>March 31, 2021</date-published>
		<dates-edited hide>
			<time>April 2, 2021</time>
		</dates-edited>
		<order>1</order>
		<published>true</published>
		<tag-list>example, empty</tag-list>
		<blurb>
			An example blog post to show you how to write a post in this system.
		</blurb>
	</front-matter>

	<post-content>
		<section>
			<p>
				Write some HTML here like normal
			</p>
		</section>
		<comment-block>
			The parser will strip this if you want to make notes to yourself.
			Less ugly than the !-- format IMO.
		</comment-block>
	</post-content>

</blog-post>

